@import '~@rc-x/style/common.scss';

$radio-prefix-cls: #{$prefix-cls}-radio;
$radio-wrapper-cls: #{$radio-prefix-cls}-wrapper;
$radio-group-cls: #{$radio-prefix-cls}-group;
$radio-button-cls: #{$radio-prefix-cls}-button;

.#{$radio-prefix-cls} {
  display: inline-block;
  font-size: 0;
  width: $radio-width;
  height: $radio-height;
  box-sizing: border-box;
  border: $border-width-sm solid $border-color;
  border-radius: $radio-width / 2;
  position: relative;
  margin-right: 4px;
  top: 3px;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
    width: $radio-width / 2;
    height: $radio-height / 2;
    background-color: $primary-color;
    border-radius: $radio-width / 4;
    @include easeInOutTransition;
  }

  @include easeInOutTransition;

  &-active {
    border-color: $primary-color;

    &::after {
      transform: translateX(-50%) translateY(-50%) scale(1);
    }
  }

  & > input {
    display: none;
  }

  &-wrapper {
    display: inline-block;
    font-size: $font-size;
    color: $text-color;
    &:focus,
    &:hover {
      .#{$radio-prefix-cls} {
        border-color: $primary-color;
        box-shadow: 0 0 4px 1px rgba($primary-color, 0.1);
      }
    }
  }

  &-inner {
  }

  &-children {
    @include easeInOutTransition;
    cursor: pointer;
  }

  &-disabled {
    cursor: not-allowed;
    border-color: $text-color-disabled !important;

    &::after {
      background-color: $disabled-color;
    }
  }
  &-disabled + &-children {
    cursor: not-allowed;
    color: $text-color-disabled !important;
  }
}

.#{$radio-group-cls} {
  display: inline-block;
  .#{$radio-wrapper-cls}:not(:last-child) {
    margin-right: 8px;
  }
}

.#{$radio-button-cls} {
  margin-right: 0 !important;
  .#{$radio-prefix-cls} {
    display: none;
  }
}

.#{$radio-group-cls} {
  .#{$radio-button-cls} {
    &:not(:first-child) {
      .#{$prefix-cls}-button {
        margin-left: -1px;
      }
    }
  }

  .#{$radio-button-cls}:first-child {
    .#{$prefix-cls}-button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .#{$radio-button-cls}:last-child {
    .#{$prefix-cls}-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .#{$radio-button-cls}:not(:first-child).#{$radio-button-cls}:not(:last-child) {
    .#{$prefix-cls}-button {
      border-radius: 0;
    }
  }
}
