@import '~@rc-x/style/common.scss';

$icon-prefix-cls: #{$prefix-cls}-icon;

.#{$icon-prefix-cls} {
  display: inline-block;
  font-size: $font-size;
  color: $text-color;
  line-height: 0;

  &-spin {
    animation: anim-spin 1.5s linear infinite;
  }
}
