@import '~@rc-x/style/common.scss';

$icon-prefix-cls: #{$prefix-cls}-icon;

.#{$icon-prefix-cls} {
  display: inline-block;
  font-size: inherit;
  color: inherit;
  line-height: 0;

  &-spin {
    animation: anim-spin $icon-spin-duration linear infinite;
  }
}
