@import '~@rc-x/style/common.scss';

$icon-prefix-cls: #{$prefix-cls}-icon;

.#{$icon-prefix-cls} {
  display: inline-block;
  font-size: inherit;
  color: inherit;
  line-height: 0;
  position: relative;
  top: 1px;

  &-spin {
    animation: anim-spin 1.5s linear infinite;
  }
}
