@import '~@rc-x/style/common.scss';

$folder-prefix-cls: #{$prefix-cls}-folder;
$folder-panel-cls: #{$folder-prefix-cls}-panel;
$folder-panel-cls: #{$folder-prefix-cls}-motion-panel;

.#{$folder-prefix-cls} {
  &-panel,
  &-motion-panel {
    overflow: hidden;

    &-expand {
      height: auto !important;
      overflow: auto;
    }
    &-collapse {
    }
  }
}
