body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

html, body {
  font-family: 'Microsoft YaHei', sans-serif; }

/**************** Global ****************/
/**************** Color ****************/
/**************** Z-Index ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
/**************** Message ****************/
/**************** Spin ****************/
/**************** Empty ****************/
/**************** Avatar ****************/
/**************** Global ****************/
/**************** Color ****************/
/**************** Z-Index ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
/**************** Message ****************/
/**************** Spin ****************/
/**************** Empty ****************/
/**************** Avatar ****************/
@-webkit-keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.rc-x-avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: #0077ff;
  text-align: center;
  line-height: 30px;
  overflow: hidden; }
  .rc-x-avatar-image {
    max-width: 100%;
    max-height: 100%; }
  .rc-x-avatar-circle {
    border-radius: 15px; }
  .rc-x-avatar-square {
    border-radius: 0 !important; }
  .rc-x-avatar-icon {
    color: #ffffff;
    font-size: 14px; }

.rc-x-avatar-large {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  line-height: 40px; }
  .rc-x-avatar-large .rc-x-avatar-icon {
    font-size: 16px; }

.rc-x-avatar-large.rc-x-avatar-circle {
  border-radius: 20px; }

.rc-x-avatar-small {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  line-height: 20px; }
  .rc-x-avatar-small .rc-x-avatar-icon {
    font-size: 12px; }

.rc-x-avatar-small.rc-x-avatar-circle {
  border-radius: 10px; }

