body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

html, body {
  font-family: 'Microsoft YaHei', sans-serif; }

/**************** Global ****************/
/**************** Color ****************/
/**************** Z-Index ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
/**************** Message ****************/
/**************** Spin ****************/
/**************** Empty ****************/
/**************** Avatar ****************/
/**************** Badge ****************/
/**************** Global ****************/
/**************** Color ****************/
/**************** Z-Index ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
/**************** Message ****************/
/**************** Spin ****************/
/**************** Empty ****************/
/**************** Avatar ****************/
/**************** Badge ****************/
@-webkit-keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.rc-x-input {
  display: block;
  height: 32px;
  border: 1px solid #cccccc;
  font-size: 14px;
  padding-left: 6px;
  padding-right: 6px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  color: #333333;
  border-radius: 3px;
  z-index: 1;
  transition: all 0.2s ease-in-out; }
  .rc-x-input:hover, .rc-x-input:focus {
    border-color: #0077ff; }
  .rc-x-input-small {
    height: 24px;
    font-size: 12px;
    border-radius: 2px; }
  .rc-x-input-large {
    height: 40px;
    font-size: 18px;
    border-radius: 5px; }
  .rc-x-input-disabled {
    cursor: not-allowed;
    background-color: #e5e5e5;
    color: #dddddd;
    border-color: #cccccc !important; }
  .rc-x-input-wrapper {
    display: flex; }
    .rc-x-input-wrapper-has-addon-before .rc-x-input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .rc-x-input-wrapper-has-addon-after .rc-x-input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .rc-x-input-wrapper-large .rc-x-input-addon-before {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .rc-x-input-wrapper-large .rc-x-input-addon-after {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
    .rc-x-input-wrapper-small .rc-x-input-addon-before {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px; }
    .rc-x-input-wrapper-small .rc-x-input-addon-after {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px; }
  .rc-x-input-inner {
    flex: 1;
    position: relative; }
    .rc-x-input-inner-has-prefix .rc-x-input {
      padding-left: 26px; }
    .rc-x-input-inner-has-suffix .rc-x-input, .rc-x-input-inner-has-cleer .rc-x-input {
      padding-right: 26px; }
    .rc-x-input-inner-has-suffix.rc-x-input-inner-has-clear .rc-x-input {
      padding-right: 40px; }
  .rc-x-input-suffix, .rc-x-input-prefix {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    color: #666666; }
    .rc-x-input-suffix .rc-x-icon:not(:last-child), .rc-x-input-prefix .rc-x-icon:not(:last-child) {
      margin-right: 2px; }
  .rc-x-input-prefix {
    left: 6px; }
  .rc-x-input-suffix {
    right: 6px; }
  .rc-x-input-clear {
    cursor: pointer;
    color: #666666; }
    .rc-x-input-clear:hover {
      color: #0077ff; }
  .rc-x-input-addon {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 6px;
    border: 1px solid #cccccc; }
    .rc-x-input-addon-before {
      margin-right: -1px;
      border-right: 0;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .rc-x-input-addon-after {
      margin-left: -1px;
      border-left: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }

.rc-x-input-number-toggle {
  cursor: pointer; }
  .rc-x-input-number-toggle:hover {
    color: #0077ff; }

.rc-x-input-search-enter {
  cursor: pointer; }
  .rc-x-input-search-enter:hover {
    color: #0077ff; }

.rc-x-textarea {
  width: 100%;
  resize: vertical;
  display: block;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 14px;
  color: #333333;
  outline: none;
  padding: 6px 6px 24px 6px;
  transition: all 0.2s ease-in-out; }
  .rc-x-textarea:hover, .rc-x-textarea:focus {
    border-color: #0077ff; }
  .rc-x-textarea-overflow {
    border-color: #ff1100 !important; }
  .rc-x-textarea-inner {
    position: relative; }
  .rc-x-textarea-clear {
    z-index: 100;
    position: absolute;
    top: 6px;
    right: 12px;
    cursor: pointer;
    color: #666666;
    opacity: 0;
    transition: all 0.2s ease-in-out; }
    .rc-x-textarea-clear:hover {
      color: #0077ff; }
  .rc-x-textarea-inner:hover .rc-x-textarea-clear {
    opacity: 1; }
  .rc-x-textarea-counter {
    position: absolute;
    bottom: 6px;
    right: 12px;
    font-size: 12px;
    color: #999999; }
    .rc-x-textarea-counter > span:first-child {
      color: #666666; }
  .rc-x-textarea-overflow + .rc-x-textarea-counter > span:first-child {
    color: #ff1100 !important; }

