body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

html, body {
  font-family: 'Microsoft YaHei', sans-serif; }

/**************** Global ****************/
/**************** Color ****************/
/**************** Z-Index ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
/**************** Message ****************/
/**************** Spin ****************/
/**************** Global ****************/
/**************** Color ****************/
/**************** Z-Index ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
/**************** Message ****************/
/**************** Spin ****************/
@-webkit-keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.rc-x-radio {
  display: inline-block;
  font-size: 0;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 8px;
  position: relative;
  margin-right: 4px;
  top: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }
  .rc-x-radio::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
            transform: translateX(-50%) translateY(-50%) scale(0);
    width: 8px;
    height: 8px;
    background-color: #0077ff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out; }
  .rc-x-radio-active {
    border-color: #0077ff; }
    .rc-x-radio-active::after {
      -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
              transform: translateX(-50%) translateY(-50%) scale(1); }
  .rc-x-radio > input {
    display: none; }
  .rc-x-radio-wrapper {
    display: inline-block;
    font-size: 14px;
    color: #333333; }
    .rc-x-radio-wrapper:focus .rc-x-radio, .rc-x-radio-wrapper:hover .rc-x-radio {
      border-color: #0077ff;
      box-shadow: 0 0 4px 1px rgba(0, 119, 255, 0.1); }
  .rc-x-radio-children {
    transition: all 0.2s ease-in-out;
    cursor: pointer; }
  .rc-x-radio-disabled {
    cursor: not-allowed;
    border-color: #dddddd !important; }
    .rc-x-radio-disabled::after {
      background-color: #dddddd; }
  .rc-x-radio-disabled + .rc-x-radio-children {
    cursor: not-allowed;
    color: #dddddd !important; }

.rc-x-radio-group {
  display: inline-block; }
  .rc-x-radio-group .rc-x-radio-wrapper:not(:last-child) {
    margin-right: 8px; }

.rc-x-radio-button {
  margin-right: 0 !important; }
  .rc-x-radio-button .rc-x-radio {
    display: none; }

.rc-x-radio-group .rc-x-radio-button:not(:first-child) .rc-x-button {
  margin-left: -1px; }

.rc-x-radio-group .rc-x-radio-button:first-child .rc-x-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.rc-x-radio-group .rc-x-radio-button:last-child .rc-x-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.rc-x-radio-group .rc-x-radio-button:not(:first-child).rc-x-radio-button:not(:last-child) .rc-x-button {
  border-radius: 0; }

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

html, body {
  font-family: 'Microsoft YaHei', sans-serif; }

/**************** Global ****************/
/**************** Color ****************/
/**************** Z-Index ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
/**************** Message ****************/
/**************** Spin ****************/
/**************** Global ****************/
/**************** Color ****************/
/**************** Z-Index ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
/**************** Message ****************/
/**************** Spin ****************/
@-webkit-keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.rc-x-button {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 3px;
  box-sizing: border-box;
  height: 32px;
  padding: 0 8px;
  font-size: 14px;
  color: #333333;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }
  .rc-x-button-block {
    display: block;
    width: 100%; }
  .rc-x-button:hover {
    border-color: #0077ff;
    color: #0077ff; }
  .rc-x-button-loading {
    cursor: wait; }
  .rc-x-button-disabled {
    background-color: #dddddd !important;
    border-color: #dddddd !important;
    color: #999999 !important;
    cursor: not-allowed; }
  .rc-x-button-round {
    border-radius: 16px; }
  .rc-x-button-circle {
    width: 32px;
    height: 32px;
    border-radius: 16px; }
    .rc-x-button-circle > * {
      display: none; }
  .rc-x-button-link {
    padding: 0;
    border: none !important;
    background-color: transparent !important; }
  .rc-x-button-icon {
    display: inline !important; }
  .rc-x-button > *:not(:last-child) {
    margin-right: 6px; }

.rc-x-button-large {
  font-size: 16px;
  height: 40px;
  padding: 0 12px;
  border-radius: 5px; }

.rc-x-button-large.rc-x-button-round {
  border-radius: 20px; }

.rc-x-button-large.rc-x-button-circle {
  width: 40px;
  height: 40px;
  border-radius: 20px; }

.rc-x-button-small {
  font-size: 12px;
  height: 24px;
  padding: 0 4px;
  border-radius: 2px; }

.rc-x-button-small.rc-x-button-round {
  border-radius: 12px; }

.rc-x-button-small.rc-x-button-circle {
  width: 24px;
  height: 24px;
  border-radius: 12px; }

.rc-x-button.rc-x-button-primary {
  border-color: #0077ff;
  color: #0077ff; }
  .rc-x-button.rc-x-button-primary:hover {
    background-color: #0077ff;
    color: #ffffff; }

.rc-x-button.rc-x-button-primary.rc-x-button-checked {
  background-color: #0077ff;
  color: #ffffff; }

.rc-x-button.rc-x-button-primary.rc-x-button-link {
  color: #0077ff; }
  .rc-x-button.rc-x-button-primary.rc-x-button-link:hover {
    color: #0077ff; }

.rc-x-button.rc-x-button-warning {
  border-color: #ffbb00;
  color: #ffbb00; }
  .rc-x-button.rc-x-button-warning:hover {
    background-color: #ffbb00;
    color: #ffffff; }

.rc-x-button.rc-x-button-warning.rc-x-button-checked {
  background-color: #ffbb00;
  color: #ffffff; }

.rc-x-button.rc-x-button-warning.rc-x-button-link {
  color: #ffbb00; }
  .rc-x-button.rc-x-button-warning.rc-x-button-link:hover {
    color: #ffbb00; }

.rc-x-button.rc-x-button-success {
  border-color: #11cc00;
  color: #11cc00; }
  .rc-x-button.rc-x-button-success:hover {
    background-color: #11cc00;
    color: #ffffff; }

.rc-x-button.rc-x-button-success.rc-x-button-checked {
  background-color: #11cc00;
  color: #ffffff; }

.rc-x-button.rc-x-button-success.rc-x-button-link {
  color: #11cc00; }
  .rc-x-button.rc-x-button-success.rc-x-button-link:hover {
    color: #11cc00; }

.rc-x-button.rc-x-button-danger {
  border-color: #ff1100;
  color: #ff1100; }
  .rc-x-button.rc-x-button-danger:hover {
    background-color: #ff1100;
    color: #ffffff; }

.rc-x-button.rc-x-button-danger.rc-x-button-checked {
  background-color: #ff1100;
  color: #ffffff; }

.rc-x-button.rc-x-button-danger.rc-x-button-link {
  color: #ff1100; }
  .rc-x-button.rc-x-button-danger.rc-x-button-link:hover {
    color: #ff1100; }

