body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

html, body {
  font-family: 'Microsoft YaHei', sans-serif; }

/**************** Global ****************/
/**************** Color ****************/
/**************** Z-Index ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
/**************** Message ****************/
/**************** Spin ****************/
/**************** Empty ****************/
/**************** Avatar ****************/
/**************** Badge ****************/
/**************** Global ****************/
/**************** Color ****************/
/**************** Z-Index ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
/**************** Message ****************/
/**************** Spin ****************/
/**************** Empty ****************/
/**************** Avatar ****************/
/**************** Badge ****************/
@-webkit-keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.rc-x-test-title {
  border-left: 2px solid #0077ff;
  padding-left: 8px;
  font-size: 18px;
  color: #333333;
  margin-bottom: 8px; }

.rc-x-test-package {
  padding: 16px; }
  .rc-x-test-package table {
    width: 100%;
    font-size: 14px;
    color: #666666;
    border-collapse: collapse; }
    .rc-x-test-package table tr:not(:last-child) {
      border-bottom: 1px dashed #eeeeee; }
    .rc-x-test-package table td {
      padding: 4px; }
      .rc-x-test-package table td:nth-child(1) {
        width: 156px; }

.rc-x-test-props {
  padding: 16px;
  border-top: 1px solid #cccccc; }

.rc-x-test-prop {
  display: flex;
  font-size: 14px;
  color: #666666;
  padding: 4px; }
  .rc-x-test-prop:not(:last-child) {
    border-bottom: 1px dashed #eeeeee; }
  .rc-x-test-prop-label {
    width: 156px; }
  .rc-x-test-prop-controller {
    flex: 1; }
  .rc-x-test-prop-switch-group, .rc-x-test-prop-checkbox-group, .rc-x-test-prop-radio-group {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .rc-x-test-prop-switch-group label, .rc-x-test-prop-checkbox-group label, .rc-x-test-prop-radio-group label {
      padding: 4px 6px; }
      .rc-x-test-prop-switch-group label input, .rc-x-test-prop-checkbox-group label input, .rc-x-test-prop-radio-group label input {
        margin-right: 4px; }

.rc-x-test-component, .rc-x-test-custom {
  padding: 16px;
  border-top: 1px solid #cccccc; }

.rc-x-test-item {
  display: none; }
  .rc-x-test-item-active {
    display: block; }

.rc-x-test-tabs {
  position: fixed;
  top: -24px;
  left: 0;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 0 1px 5px 1px #cccccc; }
  .rc-x-test-tabs:hover {
    top: 0; }

.rc-x-test-tab {
  padding: 8px;
  cursor: pointer;
  box-sizing: border-box;
  flex: 1;
  text-align: center;
  font-size: 12px;
  color: #333333;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out; }
  .rc-x-test-tab:hover:not(.rc-x-test-tab-active) {
    color: #0077ff; }
  .rc-x-test-tab-active {
    background-color: #0077ff;
    color: #ffffff; }

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

html, body {
  font-family: 'Microsoft YaHei', sans-serif; }

/**************** Global ****************/
/**************** Color ****************/
/**************** Z-Index ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
/**************** Message ****************/
/**************** Spin ****************/
/**************** Empty ****************/
/**************** Avatar ****************/
/**************** Badge ****************/
/**************** Global ****************/
/**************** Color ****************/
/**************** Z-Index ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
/**************** Message ****************/
/**************** Spin ****************/
/**************** Empty ****************/
/**************** Avatar ****************/
/**************** Badge ****************/
@-webkit-keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.rc-x-badge {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
  padding: 0 5px;
  position: relative; }
  .rc-x-badge-square {
    border-radius: 0 !important; }
  .rc-x-badge-dot {
    padding: 0; }
    .rc-x-badge-dot * {
      display: none; }
  .rc-x-badge-wrapper {
    display: inline-block;
    position: relative; }
  .rc-x-badge-inner {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translateX(50%) translateY(-50%);
            transform: translateX(50%) translateY(-50%); }

.rc-x-badge-default {
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  min-width: 22px; }

.rc-x-badge-default.rc-x-badge-round {
  border-radius: 11px; }

.rc-x-badge-default.rc-x-badge-dot {
  min-width: unset;
  width: 11px;
  height: 11px; }

.rc-x-badge-default.rc-x-badge-dot.rc-x-badge-round {
  border-radius: 5.5px; }

.rc-x-badge-large {
  font-size: 16px;
  height: 26px;
  line-height: 26px;
  min-width: 26px; }

.rc-x-badge-large.rc-x-badge-round {
  border-radius: 13px; }

.rc-x-badge-large.rc-x-badge-dot {
  min-width: unset;
  width: 13px;
  height: 13px; }

.rc-x-badge-large.rc-x-badge-dot.rc-x-badge-round {
  border-radius: 6.5px; }

.rc-x-badge-small {
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  min-width: 18px; }

.rc-x-badge-small.rc-x-badge-round {
  border-radius: 9px; }

.rc-x-badge-small.rc-x-badge-dot {
  min-width: unset;
  width: 9px;
  height: 9px; }

.rc-x-badge-small.rc-x-badge-dot.rc-x-badge-round {
  border-radius: 4.5px; }

.rc-x-badge-default {
  background-color: #aaaaaa; }

.rc-x-badge-primary {
  background-color: #0077ff; }

.rc-x-badge-success {
  background-color: #11cc00; }

.rc-x-badge-warning {
  background-color: #ffbb00; }

.rc-x-badge-error {
  background-color: #ff1100; }

