body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

html, body {
  font-family: 'Microsoft YaHei', sans-serif; }

/**************** Global ****************/
/**************** Color ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
/**************** Global ****************/
/**************** Color ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
@-webkit-keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.rc-x-test-title {
  border-left: 2px solid #0077ff;
  padding-left: 8px;
  font-size: 18px;
  color: #333333;
  margin-bottom: 8px; }

.rc-x-test-package {
  padding: 16px; }
  .rc-x-test-package table {
    width: 100%;
    font-size: 14px;
    color: #666666;
    border-collapse: collapse; }
    .rc-x-test-package table tr:not(:last-child) {
      border-bottom: 1px dashed #eeeeee; }
    .rc-x-test-package table td {
      padding: 4px; }
      .rc-x-test-package table td:nth-child(1) {
        width: 156px; }

.rc-x-test-props {
  padding: 16px;
  border-top: 1px solid #cccccc; }

.rc-x-test-prop {
  display: flex;
  font-size: 14px;
  color: #666666;
  padding: 4px; }
  .rc-x-test-prop:not(:last-child) {
    border-bottom: 1px dashed #eeeeee; }
  .rc-x-test-prop-label {
    width: 156px; }
  .rc-x-test-prop-controller {
    flex: 1; }
  .rc-x-test-prop-switch-group, .rc-x-test-prop-checkbox-group, .rc-x-test-prop-radio-group {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .rc-x-test-prop-switch-group label, .rc-x-test-prop-checkbox-group label, .rc-x-test-prop-radio-group label {
      padding: 4px 6px; }
      .rc-x-test-prop-switch-group label input, .rc-x-test-prop-checkbox-group label input, .rc-x-test-prop-radio-group label input {
        margin-right: 4px; }

.rc-x-test-component, .rc-x-test-custom {
  padding: 16px;
  border-top: 1px solid #cccccc; }

.rc-x-test-item {
  display: none; }
  .rc-x-test-item-active {
    display: block; }

.rc-x-test-tabs {
  position: fixed;
  top: -24px;
  left: 0;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 0 1px 5px 1px #cccccc; }
  .rc-x-test-tabs:hover {
    top: 0; }

.rc-x-test-tab {
  padding: 8px;
  cursor: pointer;
  box-sizing: border-box;
  flex: 1;
  text-align: center;
  font-size: 12px;
  color: #333333;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out; }
  .rc-x-test-tab:hover:not(.rc-x-test-tab-active) {
    color: #0077ff; }
  .rc-x-test-tab-active {
    background-color: #0077ff;
    color: #ffffff; }

@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

html, body {
  font-family: 'Microsoft YaHei', sans-serif; }

/**************** Global ****************/
/**************** Color ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
/**************** Global ****************/
/**************** Color ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
@-webkit-keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.rc-x-checkbox {
  display: inline-block;
  font-size: 0;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 2px;
  background-color: #ffffff;
  position: relative;
  margin-right: 4px;
  top: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }
  .rc-x-checkbox::after {
    content: '✔';
    font-size: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
            transform: translateX(-50%) translateY(-50%) scale(0);
    width: 8px;
    height: 8px;
    line-height: 8px;
    color: #ffffff;
    transition: all 0.2s ease-in-out; }
  .rc-x-checkbox-active {
    border-color: #0077ff;
    background-color: #0077ff; }
    .rc-x-checkbox-active::after {
      -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
              transform: translateX(-50%) translateY(-50%) scale(1); }
  .rc-x-checkbox > input {
    display: none; }
  .rc-x-checkbox-wrapper {
    display: inline-block;
    font-size: 14px;
    color: #333333; }
    .rc-x-checkbox-wrapper:focus .rc-x-checkbox, .rc-x-checkbox-wrapper:hover .rc-x-checkbox {
      border-color: #0077ff;
      box-shadow: 0 0 4px 1px rgba(0, 119, 255, 0.1); }
  .rc-x-checkbox-children {
    transition: all 0.2s ease-in-out;
    cursor: pointer; }
  .rc-x-checkbox-disabled {
    cursor: not-allowed;
    background-color: #e5e5e5;
    border-color: #dddddd !important; }
  .rc-x-checkbox-disabled + .rc-x-checkbox-children {
    cursor: not-allowed;
    color: #dddddd !important; }

.rc-x-checkbox-group {
  display: inline-block; }
  .rc-x-checkbox-group .rc-x-checkbox-wrapper:not(:last-child) {
    margin-right: 8px; }

