body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

html, body {
  font-family: 'Microsoft YaHei', sans-serif; }

/**************** Global ****************/
/**************** Color ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
/**************** Global ****************/
/**************** Color ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
@-webkit-keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.rc-x-test-title {
  border-left: 2px solid #0077ff;
  padding-left: 8px;
  font-size: 18px;
  color: #333333;
  margin-bottom: 8px; }

.rc-x-test-package {
  padding: 16px; }
  .rc-x-test-package table {
    width: 100%;
    font-size: 14px;
    color: #666666;
    border-collapse: collapse; }
    .rc-x-test-package table tr:not(:last-child) {
      border-bottom: 1px dashed #eeeeee; }
    .rc-x-test-package table td {
      padding: 4px; }
      .rc-x-test-package table td:nth-child(1) {
        width: 156px; }

.rc-x-test-props {
  padding: 16px;
  border-top: 1px solid #cccccc; }

.rc-x-test-prop {
  display: flex;
  font-size: 14px;
  color: #666666;
  padding: 4px; }
  .rc-x-test-prop:not(:last-child) {
    border-bottom: 1px dashed #eeeeee; }
  .rc-x-test-prop-label {
    width: 156px; }
  .rc-x-test-prop-controller {
    flex: 1; }
  .rc-x-test-prop-switch-group, .rc-x-test-prop-checkbox-group, .rc-x-test-prop-radio-group {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .rc-x-test-prop-switch-group label, .rc-x-test-prop-checkbox-group label, .rc-x-test-prop-radio-group label {
      padding: 4px 6px; }
      .rc-x-test-prop-switch-group label input, .rc-x-test-prop-checkbox-group label input, .rc-x-test-prop-radio-group label input {
        margin-right: 4px; }

.rc-x-test-component, .rc-x-test-custom {
  padding: 16px;
  border-top: 1px solid #cccccc; }

.rc-x-test-item {
  display: none; }
  .rc-x-test-item-active {
    display: block; }

.rc-x-test-tabs {
  position: fixed;
  top: -24px;
  left: 0;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 0 1px 5px 1px #cccccc; }
  .rc-x-test-tabs:hover {
    top: 0; }

.rc-x-test-tab {
  padding: 8px;
  cursor: pointer;
  box-sizing: border-box;
  flex: 1;
  text-align: center;
  font-size: 12px;
  color: #333333;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out; }
  .rc-x-test-tab:hover:not(.rc-x-test-tab-active) {
    color: #0077ff; }
  .rc-x-test-tab-active {
    background-color: #0077ff;
    color: #ffffff; }

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

html, body {
  font-family: 'Microsoft YaHei', sans-serif; }

/**************** Global ****************/
/**************** Color ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
/**************** Global ****************/
/**************** Color ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Checkbox ****************/
/**************** Switch ****************/
@-webkit-keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.rc-x-container-fluid,
.rc-x-container {
  margin-right: auto;
  margin-left: auto; }

.rc-x-container-fluid {
  padding-right: 2rem;
  padding-left: 2rem; }

.rc-x-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem; }

.rc-x-row-reverse {
  flex-direction: row-reverse; }

.rc-x-col-reverse {
  flex-direction: column-reverse; }

.rc-x-col-xs,
.rc-x-col-xs-1,
.rc-x-col-xs-2,
.rc-x-col-xs-3,
.rc-x-col-xs-4,
.rc-x-col-xs-5,
.rc-x-col-xs-6,
.rc-x-col-xs-7,
.rc-x-col-xs-8,
.rc-x-col-xs-9,
.rc-x-col-xs-10,
.rc-x-col-xs-11,
.rc-x-col-xs-12,
.rc-x-col-xs-offset-0,
.rc-x-col-xs-offset-1,
.rc-x-col-xs-offset-2,
.rc-x-col-xs-offset-3,
.rc-x-col-xs-offset-4,
.rc-x-col-xs-offset-5,
.rc-x-col-xs-offset-6,
.rc-x-col-xs-offset-7,
.rc-x-col-xs-offset-8,
.rc-x-col-xs-offset-9,
.rc-x-col-xs-offset-10,
.rc-x-col-xs-offset-11,
.rc-x-col-xs-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.rc-x-col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

.rc-x-col-xs-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%; }

.rc-x-col-xs-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%; }

.rc-x-col-xs-3 {
  flex-basis: 25%;
  max-width: 25%; }

.rc-x-col-xs-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%; }

.rc-x-col-xs-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%; }

.rc-x-col-xs-6 {
  flex-basis: 50%;
  max-width: 50%; }

.rc-x-col-xs-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%; }

.rc-x-col-xs-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%; }

.rc-x-col-xs-9 {
  flex-basis: 75%;
  max-width: 75%; }

.rc-x-col-xs-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%; }

.rc-x-col-xs-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%; }

.rc-x-col-xs-12 {
  flex-basis: 100%;
  max-width: 100%; }

.rc-x-col-xs-offset-0 {
  margin-left: 0; }

.rc-x-col-xs-offset-1 {
  margin-left: 8.33333333%; }

.rc-x-col-xs-offset-2 {
  margin-left: 16.66666667%; }

.rc-x-col-xs-offset-3 {
  margin-left: 25%; }

.rc-x-col-xs-offset-4 {
  margin-left: 33.33333333%; }

.rc-x-col-xs-offset-5 {
  margin-left: 41.66666667%; }

.rc-x-col-xs-offset-6 {
  margin-left: 50%; }

.rc-x-col-xs-offset-7 {
  margin-left: 58.33333333%; }

.rc-x-col-xs-offset-8 {
  margin-left: 66.66666667%; }

.rc-x-col-xs-offset-9 {
  margin-left: 75%; }

.rc-x-col-xs-offset-10 {
  margin-left: 83.33333333%; }

.rc-x-col-xs-offset-11 {
  margin-left: 91.66666667%; }

[dir="ltr"] .rc-x-row-start-xs {
  text-align: left; }

[dir="rtl"] .rc-x-row-start-xs {
  text-align: right; }

.rc-x-row-start-xs {
  justify-content: flex-start; }

.rc-x-row-center-xs {
  justify-content: center;
  text-align: center; }

[dir="ltr"] .rc-x-row-end-xs {
  text-align: right; }

[dir="rtl"] .rc-x-row-end-xs {
  text-align: left; }

.rc-x-row-end-xs {
  justify-content: flex-end; }

.rc-x-row-top-xs {
  align-items: flex-start; }

.rc-x-row-middle-xs {
  align-items: center; }

.rc-x-row-bottom-xs {
  align-items: flex-end; }

.rc-x-row-around-xs {
  justify-content: space-around; }

.rc-x-row-between-xs {
  justify-content: space-between; }

.rc-x-col-between-xs {
  order: -1; }

.rc-x-col-last-xs {
  order: 1; }

@media only screen and (min-width: 48em) {
  .rc-x-container {
    width: 49rem; }
  .rc-x-col-sm,
  .rc-x-col-sm-1,
  .rc-x-col-sm-2,
  .rc-x-col-sm-3,
  .rc-x-col-sm-4,
  .rc-x-col-sm-5,
  .rc-x-col-sm-6,
  .rc-x-col-sm-7,
  .rc-x-col-sm-8,
  .rc-x-col-sm-9,
  .rc-x-col-sm-10,
  .rc-x-col-sm-11,
  .rc-x-col-sm-12,
  .rc-x-col-sm-offset-0,
  .rc-x-col-sm-offset-1,
  .rc-x-col-sm-offset-2,
  .rc-x-col-sm-offset-3,
  .rc-x-col-sm-offset-4,
  .rc-x-col-sm-offset-5,
  .rc-x-col-sm-offset-6,
  .rc-x-col-sm-offset-7,
  .rc-x-col-sm-offset-8,
  .rc-x-col-sm-offset-9,
  .rc-x-col-sm-offset-10,
  .rc-x-col-sm-offset-11,
  .rc-x-col-sm-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .rc-x-col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .rc-x-col-sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .rc-x-col-sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .rc-x-col-sm-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .rc-x-col-sm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .rc-x-col-sm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .rc-x-col-sm-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .rc-x-col-sm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .rc-x-col-sm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .rc-x-col-sm-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .rc-x-col-sm-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .rc-x-col-sm-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .rc-x-col-sm-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .rc-x-col-sm-offset-0 {
    margin-left: 0; }
  .rc-x-col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .rc-x-col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .rc-x-col-sm-offset-3 {
    margin-left: 25%; }
  .rc-x-col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .rc-x-col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .rc-x-col-sm-offset-6 {
    margin-left: 50%; }
  .rc-x-col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .rc-x-col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .rc-x-col-sm-offset-9 {
    margin-left: 75%; }
  .rc-x-col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .rc-x-col-sm-offset-11 {
    margin-left: 91.66666667%; }
  [dir="ltr"] .rc-x-row-start-sm {
    text-align: left; }
  [dir="rtl"] .rc-x-row-start-sm {
    text-align: right; }
  .rc-x-row-start-sm {
    justify-content: flex-start; }
  .rc-x-row-center-sm {
    justify-content: center;
    text-align: center; }
  [dir="ltr"] .rc-x-row-end-sm {
    text-align: right; }
  [dir="rtl"] .rc-x-row-end-sm {
    text-align: left; }
  .rc-x-row-end-sm {
    justify-content: flex-end; }
  .rc-x-row-top-sm {
    align-items: flex-start; }
  .rc-x-row-middle-sm {
    align-items: center; }
  .rc-x-row-bottom-sm {
    align-items: flex-end; }
  .rc-x-row-around-sm {
    justify-content: space-around; }
  .rc-x-row-between-sm {
    justify-content: space-between; }
  .rc-x-col-between-sm {
    order: -1; }
  .rc-x-col-last-sm {
    order: 1; } }

@media only screen and (min-width: 64em) {
  .rc-x-container {
    width: 65rem; }
  .rc-x-col-md,
  .rc-x-col-md-1,
  .rc-x-col-md-2,
  .rc-x-col-md-3,
  .rc-x-col-md-4,
  .rc-x-col-md-5,
  .rc-x-col-md-6,
  .rc-x-col-md-7,
  .rc-x-col-md-8,
  .rc-x-col-md-9,
  .rc-x-col-md-10,
  .rc-x-col-md-11,
  .rc-x-col-md-12,
  .rc-x-col-md-offset-0,
  .rc-x-col-md-offset-1,
  .rc-x-col-md-offset-2,
  .rc-x-col-md-offset-3,
  .rc-x-col-md-offset-4,
  .rc-x-col-md-offset-5,
  .rc-x-col-md-offset-6,
  .rc-x-col-md-offset-7,
  .rc-x-col-md-offset-8,
  .rc-x-col-md-offset-9,
  .rc-x-col-md-offset-10,
  .rc-x-col-md-offset-11,
  .rc-x-col-md-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .rc-x-col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .rc-x-col-md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .rc-x-col-md-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .rc-x-col-md-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .rc-x-col-md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .rc-x-col-md-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .rc-x-col-md-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .rc-x-col-md-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .rc-x-col-md-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .rc-x-col-md-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .rc-x-col-md-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .rc-x-col-md-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .rc-x-col-md-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .rc-x-col-md-offset-0 {
    margin-left: 0; }
  .rc-x-col-md-offset-1 {
    margin-left: 8.33333333%; }
  .rc-x-col-md-offset-2 {
    margin-left: 16.66666667%; }
  .rc-x-col-md-offset-3 {
    margin-left: 25%; }
  .rc-x-col-md-offset-4 {
    margin-left: 33.33333333%; }
  .rc-x-col-md-offset-5 {
    margin-left: 41.66666667%; }
  .rc-x-col-md-offset-6 {
    margin-left: 50%; }
  .rc-x-col-md-offset-7 {
    margin-left: 58.33333333%; }
  .rc-x-col-md-offset-8 {
    margin-left: 66.66666667%; }
  .rc-x-col-md-offset-9 {
    margin-left: 75%; }
  .rc-x-col-md-offset-10 {
    margin-left: 83.33333333%; }
  .rc-x-col-md-offset-11 {
    margin-left: 91.66666667%; }
  [dir="ltr"] .rc-x-row-start-md {
    text-align: left; }
  [dir="rtl"] .rc-x-row-start-md {
    text-align: right; }
  .rc-x-row-start-md {
    justify-content: flex-start; }
  .rc-x-row-center-md {
    justify-content: center;
    text-align: center; }
  [dir="ltr"] .rc-x-row-end-md {
    text-align: right; }
  [dir="rtl"] .rc-x-row-end-md {
    text-align: left; }
  .rc-x-row-end-md {
    justify-content: flex-end; }
  .rc-x-row-top-md {
    align-items: flex-start; }
  .rc-x-row-middle-md {
    align-items: center; }
  .rc-x-row-bottom-md {
    align-items: flex-end; }
  .rc-x-row-around-md {
    justify-content: space-around; }
  .rc-x-row-between-md {
    justify-content: space-between; }
  .rc-x-col-between-md {
    order: -1; }
  .rc-x-col-last-md {
    order: 1; } }

@media only screen and (min-width: 75em) {
  .rc-x-container {
    width: 76rem; }
  .rc-x-col-lg,
  .rc-x-col-lg-1,
  .rc-x-col-lg-2,
  .rc-x-col-lg-3,
  .rc-x-col-lg-4,
  .rc-x-col-lg-5,
  .rc-x-col-lg-6,
  .rc-x-col-lg-7,
  .rc-x-col-lg-8,
  .rc-x-col-lg-9,
  .rc-x-col-lg-10,
  .rc-x-col-lg-11,
  .rc-x-col-lg-12,
  .rc-x-col-lg-offset-0,
  .rc-x-col-lg-offset-1,
  .rc-x-col-lg-offset-2,
  .rc-x-col-lg-offset-3,
  .rc-x-col-lg-offset-4,
  .rc-x-col-lg-offset-5,
  .rc-x-col-lg-offset-6,
  .rc-x-col-lg-offset-7,
  .rc-x-col-lg-offset-8,
  .rc-x-col-lg-offset-9,
  .rc-x-col-lg-offset-10,
  .rc-x-col-lg-offset-11,
  .rc-x-col-lg-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .rc-x-col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .rc-x-col-lg-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .rc-x-col-lg-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .rc-x-col-lg-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .rc-x-col-lg-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .rc-x-col-lg-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .rc-x-col-lg-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .rc-x-col-lg-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .rc-x-col-lg-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .rc-x-col-lg-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .rc-x-col-lg-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .rc-x-col-lg-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .rc-x-col-lg-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .rc-x-col-lg-offset-0 {
    margin-left: 0; }
  .rc-x-col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .rc-x-col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .rc-x-col-lg-offset-3 {
    margin-left: 25%; }
  .rc-x-col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .rc-x-col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .rc-x-col-lg-offset-6 {
    margin-left: 50%; }
  .rc-x-col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .rc-x-col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .rc-x-col-lg-offset-9 {
    margin-left: 75%; }
  .rc-x-col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .rc-x-col-lg-offset-11 {
    margin-left: 91.66666667%; }
  [dir="ltr"] .rc-x-row-start-lg {
    text-align: left; }
  [dir="rtl"] .rc-x-row-start-lg {
    text-align: right; }
  .rc-x-row-start-lg {
    justify-content: flex-start; }
  .rc-x-row-center-lg {
    justify-content: center;
    text-align: center; }
  [dir="ltr"] .rc-x-row-end-lg {
    text-align: right; }
  [dir="rtl"] .rc-x-row-end-lg {
    text-align: left; }
  .rc-x-row-end-lg {
    justify-content: flex-end; }
  .rc-x-row-top-lg {
    align-items: flex-start; }
  .rc-x-row-middle-lg {
    align-items: center; }
  .rc-x-row-bottom-lg {
    align-items: flex-end; }
  .rc-x-row-around-lg {
    justify-content: space-around; }
  .rc-x-row-between-lg {
    justify-content: space-between; }
  .rc-x-col-between-lg {
    order: -1; }
  .rc-x-col-last-lg {
    order: 1; } }

