body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

html, body {
  font-family: 'Microsoft YaHei', sans-serif; }

/**************** Global ****************/
/**************** Color ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Switch ****************/
/**************** Global ****************/
/**************** Color ****************/
/**************** Background ****************/
/**************** Font ****************/
/**************** Animation ****************/
/**************** Button ****************/
/**************** Border ****************/
/**************** Input ****************/
/**************** Textarea ****************/
/**************** Grid ****************/
/**************** Radio ****************/
/**************** Switch ****************/
@-webkit-keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.rc-x-docs-aside {
  font-size: 14px;
  position: fixed;
  left: 0;
  width: 172px;
  top: 0;
  bottom: 0;
  overflow: hidden;
  border-right: 1px solid #cccccc;
  color: #333333; }
  .rc-x-docs-aside:hover {
    overflow: auto; }
  .rc-x-docs-aside-top {
    font-size: 18px;
    padding: 12px 8px;
    font-weight: bold;
    cursor: pointer;
    color: #666666; }
  .rc-x-docs-aside-navs {
    border-top: 1px solid #cccccc;
    padding: 4px; }
  .rc-x-docs-aside-nav {
    padding: 8px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all 0.2s ease-in-out; }
    .rc-x-docs-aside-nav-title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .rc-x-docs-aside-nav-desc {
      font-size: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #999999; }
    .rc-x-docs-aside-nav:hover {
      color: #0077ff; }
    .rc-x-docs-aside-nav-active {
      border-left: 2px solid #0077ff; }

.rc-x-docs-main {
  padding-left: 172px; }

.rc-x-docs-loading {
  text-align: center;
  padding: 36px;
  font-size: 24px;
  color: #999999; }

