@import '~@rc-x/style/common.scss';

$message-prefix-cls: #{$prefix-cls}-message;
$messages-prefix-cls: #{$prefix-cls}-messages;
$message-item-cls: #{$message-prefix-cls}-item;
$message-icon-cls: #{$message-prefix-cls}-icon;

$types: (
  info: $primary-color,
  loading: $primary-color,
  success: $success-color,
  warning: $warning-color,
  error: $error-color
);

.#{$message-prefix-cls} {
  background-color: $white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: $message-padding;
  box-shadow: $message-box-shadow;
  font-size: $font-size;
  color: $text-color;

  &-icon {
    margin-right: 6px;
  }
}

@each $key, $value in $types {
  .#{$message-prefix-cls}-#{$key} {
    .#{$message-icon-cls} {
      color: $value;
    }
  }
}

.#{$messages-prefix-cls} {
  position: fixed;
  z-index: $z-index-upperest;
  left: 50%;
  top: 0;
}

.#{$message-item-cls} {
  display: flex;
  justify-content: center;
  padding: $message-item-padding;
}
